
html,body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #555;
    font-family: serif;
    text-align: center;
}

#skill{
     padding: 10px 0 50px;
      text-align: left;
}
#logo{
  display: inline-block;
}